.bugged::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: white;
    opacity: 0.75;
    cursor:wait;
}