.search-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.search-input * {
    width: max-content;
    height: max-content;
}

.card {
    background: white;
    border-radius: 16px;
    padding: 16px 20px;

    display: grid;

    /* 4 colonnes fixes alignées */
    grid-template-columns: 1fr 150px 120px 80px;
    align-items: center;

    gap: 20px;

    margin-bottom: 20px;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s ease;
    border: 1px solid #ccc;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.3);
}

/* Stylisation du texte */
.c-title,
.c-dept,
.c-type {
    color: #1f4ba3;
    font-size: 16px;
    font-weight: 500;
}

/* Zone d'actions alignée */
.c-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.btn-icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.entete-info {
    display: flex;
    justify-content: space-between;
}

.entete-info h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.entete-info h2 a:hover {
    scale: 1.1;
    rotate: 3deg;
}

#search {
    padding-left: 5px;
    padding-right: 5px;
}

#loader {
    justify-content: center;
}


.orderBy.desc {
    rotate: 180deg;
}
