html, body {margin: 0;}
p {font-family: Arial, Helvetica, sans-serif;}


.stage {
  position:relative;
  width:100%;
  height:100vh;
  background:#f0f0f0;
  overflow:hidden;
  display:flex;
  /* align-items:center; */
  /* justify-content:center; */
}

.window {
  width:90vw;
  height:90vh;
  background:#bebebe;
  border-radius:10px;
  position:absolute;
}

.window-topbar {
  background:#000000;
  display: flex;

  height: 2em;
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 0 0;

  justify-items: center;
  align-items: center;

  cursor:grab;
  user-select:none;
  touch-action:none;
}
.window-topbar:active {
  cursor:grabbing;
}

.window-topbar p {
  color: aliceblue;
  font-weight: bold;

  margin: 0;
}

.window-content {
  height: 100%;
  width: 100%;
}